<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Main Content -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="bg-blue-primary text-white pt-24 pb-6 rounded-t-3xl mt-10">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mb-16">
      <!-- ... contenu existant du Footer ... -->
    </div>

    <div class="text-center pt-8 border-t border-white/10">
      <p class="text-sm opacity-80">
        &copy; 2025 RAKOTONIRINA Tiavina Irintsoa Nancyah & RAZAFINJAKA Ralph
        Yoan. Tous droits réservés.
      </p>
    </div>
  </div>
</footer>
