<!-- Navbar (conditionnelle) -->
<app-navbar *ngIf="showNavbar"></app-navbar>

<router-outlet></router-outlet>

<!-- Footer (conditionnel) -->
<footer
  *ngIf="showNavbar"
  class="bg-blue-primary text-white pt-24 pb-6 rounded-t-3xl mt-10"
>
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mb-16">
      <div>
        <h3 class="text-2xl font-bold mb-6">Contact</h3>
        <div class="space-y-4">
          <p class="flex items-center">
            <i class="fas fa-phone mr-4"></i> 01 23 45 67 89
          </p>
          <p class="flex items-center">
            <i class="fas fa-envelope mr-4"></i>{{ " contact@mongarage.fr" }}
          </p>
          <p class="flex items-center">
            <i class="fas fa-map-marker-alt mr-4"></i> 123 Rue du Garage, 75000
            Paris
          </p>
        </div>
      </div>

      <div>
        <h3 class="text-2xl font-bold mb-6">Horaires</h3>
        <div class="space-y-4">
          <p>Lundi - Vendredi: 8h - 18h</p>
          <p>Samedi: 9h - 12h</p>
          <p>Dimanche: Fermé</p>
        </div>
      </div>

      <div>
        <h3 class="text-2xl font-bold mb-6">Suivez-nous</h3>
        <div class="flex gap-4">
          <a
            href="#"
            class="w-12 h-12 bg-white/10 rounded-xl flex items-center justify-center hover:bg-white/20 transition-colors duration-300"
          >
            <i class="fab fa-facebook-f text-xl"></i>
          </a>
          <a
            href="#"
            class="w-12 h-12 bg-white/10 rounded-xl flex items-center justify-center hover:bg-white/20 transition-colors duration-300"
          >
            <i class="fab fa-instagram text-xl"></i>
          </a>
          <a
            href="#"
            class="w-12 h-12 bg-white/10 rounded-xl flex items-center justify-center hover:bg-white/20 transition-colors duration-300"
          >
            <i class="fab fa-linkedin-in text-xl"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center pt-8 border-t border-white/10">
      <p class="text-sm opacity-80">
        &copy; 2025 RAKOTONIRINA Tiavina Irintsoa Nancyah & RAZAFINJAKA Ralph
        Yoan. Tous droits réservés.
      </p>
    </div>
  </div>
</footer>
