@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@theme {
  --color-blue-primary: oklch(38.03% 0.1386 258.03);
  --color-blue-secondary: oklch(93.06% 0.0408 211.84);
}

/* Ajout du smooth scroll pour toute l'application */
html {
  scroll-behavior: smooth;
}
