<app-user-navbar></app-user-navbar>
<div class="ml-20 min-h-[90vh]">
  <router-outlet></router-outlet>
</div>
<footer class="ml-20 py-4 px-6">
  <div class="flex items-center justify-between">
    <p class="text-sm text-gray-600 dark:text-gray-400">
      © RAKOTONIRINA Tiavina Irintsoa Nancyah & RAZAFINJAKA Ralph Yoan. Tous
      droits réservés.
    </p>
    <div class="flex items-center space-x-4">
      <a
        href="#"
        class="text-sm text-gray-600 dark:text-gray-400 hover:text-blue-primary"
        >Mentions légales</a
      >
      <a
        href="#"
        class="text-sm text-gray-600 dark:text-gray-400 hover:text-blue-primary"
        >Confidentialité</a
      >
    </div>
  </div>
</footer>
